
.digital{
    margin: 2vw 1vw;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    width: fit-content;
    align-self: center;
    border-radius: 75px;
}
.cardn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.promax{
   
    align-self: center;
}
@media screen and (max-width: 500px){ 
    .promax{
        align-self: initial;
    }
}

.team{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.line{
    height: 2px;
    width: 100%;
    margin: 1vw 0;
    /* background: violet; */
    background-image: linear-gradient(
             180deg
             , #2af598 0%, #009efd 100%);
                 animation: colorChange 4s ease-in 0s infinite alternate;
         
}
.footer{
    margin: 3vw 0;
    position: relative;
    top: 80px;

}